Repository Vixx-X/ati-project, pull requests merged in 2021-07, with the labels that each got.

#68 create card component #52
  src/backend/apps/showroom/urls.py
  src/backend/apps/showroom/views.py
  src/frontend/static_src/css/components/card.scss
  src/frontend/templates/showrooms/card.html
Labels: component, frontend

#75 Create Notification Component
  src/frontend/static_src/css/components/notification.scss
  src/frontend/static_src/img/icons/delete.svg
  src/frontend/static_src/img/icons/image.svg
  src/frontend/templates/showrooms/notification.html
Labels: component, frontend

#76 Create Long-card Component
  src/frontend/static_src/css/components/long-cards.scss
  src/frontend/templates/showrooms/long-cards.html
Labels: component, frontend

#77 create heading component
  src/frontend/static_src/css/components/heading.scss
  src/frontend/templates/showrooms/heading.html
Labels: component, frontend

#79 Feature i18n
  scripts/build.sh
  src/backend/apps/showroom/templates/showroom/base.html
  src/backend/apps/showroom/templates/showroom/botones.html
  src/backend/apps/showroom/templates/showroom/buttons.html
  src/backend/apps/showroom/templates/showroom/card.html
  src/backend/apps/showroom/templates/showroom/chat.html
  src/backend/apps/showroom/templates/showroom/comments-users.html
  src/backend/apps/showroom/templates/showroom/footer.html
  src/backend/apps/showroom/templates/showroom/header.html
  src/backend/apps/showroom/templates/showroom/header2.html
  src/backend/apps/showroom/templates/showroom/heading.html
  src/backend/apps/showroom/templates/showroom/long-cards.html
  src/backend/apps/showroom/templates/showroom/notification.html
  src/backend/apps/showroom/templates/showroom/search-buttom.html
  src/backend/apps/showroom/templates/showroom/search-button.html
  src/backend/apps/showroom/urls.py
  src/backend/apps/showroom/views.py
  src/frontend/static_bundle/css/components.scss
  src/frontend/static_src/css/components/_footer.scss
  src/frontend/static_src/css/components/_heading.scss
  src/frontend/static_src/css/components/_long-cards.scss
  src/frontend/static_src/css/components/_notification.scss
  src/frontend/static_src/css/components/_search-buttom.scss
  src/frontend/static_src/css/components/_user-icon.scss
  src/frontend/static_src/css/components/chat.scss
  src/frontend/templates/showrooms/heading.html
  src/frontend/templates/showrooms/long-cards.html
  src/frontend/templates/showrooms/notification.html
  src/frontend/templates/showrooms/search-buttom.html
  src/messages.pot
Labels: backend, frontend, review needed

#81 Fixing vuln on yarn dependecies
  docs/make.bat
  requirements/dev.txt
  src/backend/apps/showroom/templates/showroom/comments-users.html
  src/backend/apps/showroom/templates/showroom/header2.html
  src/backend/apps/showroom/templates/showroom/user-icon.html
  src/frontend/static_bundle/css/components.scss
  src/frontend/static_src/css/bases/_mixins.scss
  src/frontend/static_src/css/bases/_normalize.scss
  src/frontend/static_src/css/bases/_variables.scss
  src/frontend/static_src/css/components/_buttons.scss
  src/frontend/static_src/css/components/_comments-users.scss
  src/frontend/static_src/css/components/_header2.scss
  src/frontend/static_src/css/components/_user-icon.scss
  yarn/package.json
  yarn/yarn.lock
Labels: review needed

#91 create radio button macro
  src/backend/apps/showroom/templates/showroom/radio-button.html
  src/backend/apps/showroom/urls.py
  src/backend/apps/showroom/views.py
  src/frontend/static_bundle/css/components.scss
  src/frontend/static_src/css/components/radio-button.scss
  src/templates/components/radio-button.html
Labels: component, frontend

#92 Add Feature input label
  src/backend/apps/showroom/templates/showroom/input-label.html
  src/backend/apps/showroom/urls.py
  src/backend/apps/showroom/views.py
  src/frontend/static_bundle/css/components.scss
  src/frontend/static_src/css/bases/_utilities.scss
  src/frontend/static_src/css/components/input-label.scss
  src/templates/components/input-label.html
Labels: component, frontend

#95 Add friend list macro
  src/backend/apps/showroom/templates/showroom/list-friends.html
  src/frontend/static_src/css/components/_input-label.scss
  src/frontend/static_src/css/components/_list-friends.scss
  src/frontend/static_src/css/components/_radio-button.scss
  src/templates/components/list-friends.html
Labels: component, frontend

#99 Feature boolean button
  src/backend/apps/showroom/templates/showroom/boolean-button.html
  src/backend/apps/showroom/urls.py
  src/backend/apps/showroom/views.py
  src/frontend/static_bundle/css/components.scss
  src/frontend/static_src/css/components/_boolean-button.scss
  src/templates/components/boolean-button.html
Labels: component, frontend

#101 Feature footer mobile
  src/backend/apps/showroom/templates/showroom/footer-mobile.html
  src/backend/apps/showroom/urls.py
  src/backend/apps/showroom/views.py
  src/frontend/static_bundle/css/components.scss
  src/frontend/static_src/css/components/_footer-mobile.scss
  src/frontend/static_src/img/icons/chat.svg
  src/frontend/static_src/img/icons/plus-sign.svg
  src/frontend/static_src/img/icons/user.svg
  src/templates/components/footer-mobile.html
Labels: component, frontend

#116 Feature mobile navmenu
  src/backend/apps/showroom/templates/showroom/mobile-navmenu.html
  src/backend/apps/showroom/templates/showroom/profile1.html
  src/frontend/static_bundle/js/components.ts
  src/frontend/static_src/css/_profile1.scss
  src/frontend/static_src/js/components/mobile-navmenu.ts
  src/templates/components/mobile-navmenu.html
  yarn/rollup.config.js
Labels: component, frontend

#121 Feature components
  src/backend/apps/showroom/templates/showroom/header2.html
  src/backend/apps/showroom/templates/showroom/notification.html
  src/backend/apps/showroom/templates/showroom/search-button.html
  src/templates/components/buttons.html
  src/templates/components/header2.html
  src/templates/components/mobile-navmenu.html
  src/templates/components/notification.html
  src/templates/login.html
  src/templates/user/profile.html
Labels: component, frontend

#124 Feature publication (media)
  src/frontend/static_src/video/QuickTime Sample Video Warning Video is 5 Seconds Long_v144P.mp4
  src/templates/components/media.html
  src/templates/home.html
Labels: component, frontend
